#1x11_right.full_width{:style => "background: white;"}
  .col-lg-20.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
  .col-lg-20.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
  .col-lg-20.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
  .col-lg-40.col-col
    .col-lg-12.two_third.col-row.vid_container
      .vid_box
    .col-lg-12
      .col-lg-6.third.col-col.vid_container
        .vid_box
      .col-lg-6.third.col-col.vid_container
        .vid_box

