#1x2_right.full_width{:style => "background: white;"}
  .col-lg-4.col-col
    .col-lg-12.half.col-row.vid_container
      .vid_box
    .col-lg-12.half.col-row.vid_container
      .vid_box
  .col-lg-8.col-col
    .col-lg-12.vid_container
      .vid_box

