#1x2.full_width{:style => "background: white;"}
  .col-lg-12.half.col-row
    .col-lg-12.vid_container
      .vid_box
  .col-lg-12.half.col-row
    .col-lg-6.col-col.vid_container
      .vid_box
    .col-lg-6.col-col.vid_container
      .vid_box
