#2x3.full_width{:style => "background: white;"}
  .col-lg-12
    .col-lg-12.half.col-row
      .col-lg-4.vid_container
        .vid_box
      .col-lg-4.col-col.vid_container
        .vid_box
      .col-lg-4.col-col.vid_container
        .vid_box
    .col-lg-12.half
      .col-lg-4.vid_container
        .vid_box
      .col-lg-4.col-col.vid_container
        .vid_box
      .col-lg-4.col-col.vid_container
        .vid_box
  
