#2x4_left.full_width{:style => "background: white;"}
  .col-lg-8
    .col-lg-12.half.col-row.vid_container
      .vid_box
    .col-lg-12.half.vid_container
      .vid_box
  .col-lg-4.col-col
    .col-lg-12.quarter.col-row.vid_container
      .vid_box
    .col-lg-12.quarter.col-row.vid_container
      .vid_box
    .col-lg-12.quarter.col-row.vid_container
      .vid_box
    .col-lg-12.quarter.vid_container
      .vid_box

