#4x3.full_width{:style => "background: white;"}
  .col-lg-3.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.vid_container
      .vid_box
  .col-lg-3.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.vid_container
      .vid_box
  .col-lg-3.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.vid_container
      .vid_box
  .col-lg-3.col-col
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.col-row.vid_container
      .vid_box
    .col-lg-12.third.vid_container
      .vid_box

