#default_layout.html.full_width{:style => "background: white;"}
  .col-xs-12.half.col-row
    .col-xs-6.col-col
      .vid_info
        = render :partial=>'room_options'
    .col-xs-6.col-col.vid_container
      .vid_box.default_vid_box
  .col-xs-12.quarter.col-row
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
  .col-xs-12.quarter.col-row
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
    .col-xs-2.col-col.vid_container
      .vid_box
