.observation.room_info{:style => "width: 100%; height: 100%; z-index: 10000; background-color: rgba(0,0,0,0.6) "}
  .select_menu
    = render :partial => "tabs_header"
    .tab_content
      .tab_content_default_layout

  =render :partial => "popup_submit", :locals => {:hideCollapse => true}