= render "application/caregility_greeting"
%main
  .univago_login_form
    %br
    %h3.center Browser Not Supported 
    %br
    %br
    %h1.center We recommend using Safari to continue  
    %br
    %br
    .center
      =link_to 'Download Safari' , 'https://support.apple.com/downloads/safari', :id=>'link_as_button'

