<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>This is a test email from your UnivagoHE system</h3>
    <p>If you are recieving this email your email server has been configured correctly.</p>
    <br/>
   
  </body>
</html>
