%div.docs_text.col-md-6
  %h1 REST API Introduction
  %hr
  %p API Details on how to initialize and connect a call to a Healthcare HE patient-side device.
  %hr
  %p Welcome to instructions on how to make a call via the Healthcare HE API.  With a minimial amount of RESTful calls to our system, you can intergrate calling to our room endpoints within your own Healthcare system. 
  %hr

  %h5 Some basic prerequisites: 
  %ul
    %li You must have a valid client account provisioned in our Healthcare HE System to retrieve your API login credentials.
    %li All calls must be placed on a Chrome based browser 
    %li Each API request must contain your account API username and password in the Header authentication details 



%div.docs_code.col-md-4
  %div.row-md-2
    %br
    %span A RESTful API is an application program interface (API) that uses HTTP requests to GET, PUT, POST and DELETE data. 
    %span Connecting a call is as simple as a two steps:  POST then GET
