= render "application/caregility_greeting"

%main
  .univago_login_form
    .center
      %br
      %br
      %h3 SORRY WE CAN'T FIND THAT PAGE
      %br
      %p Either something went wrong or the page doesn't exist anymore.
      %br
      = form_for :error, :url => main_menu_path do |f|
        = f.submit "Home", :class=> ""

      %br
      %br
      =render :partial => "/homes/contact"  
      %br
      = render :partial => '/homes/privacy'
