%div{:role => "dialog", :'aria-label' => "Content Sharing"}
  .content_sharing_mover.fa.fa-arrows.hud_visuals.fade#move_content_sharing{:tabindex=>"0", :'aria-label'=>"move content sharing", :role=>"application"}

  %div.presvideo_div
    <video autoplay playsinline muted id='presVideo' height=#{is_mobile_device? ? '120':'170'} class='' poster="/uhe_spinner.gif" title="Content Sharing Screen"></video>

  .expand_arrow_div
    .rightside  
      %button{:id=>'expand_content_sharing', :class => 'fas fa-expand-alt fa-2x expand_arrow close_widget hud_visuals fade', :onclick=> "expand_content_sharing()", :'aria-label'=>"maximize content sharing screen"}

:javascript 
    var windows = document.querySelectorAll('.content_share');[].forEach.call(windows,function(win){var title = win.querySelector('.content_sharing_mover'); title.addEventListener('mousedown',function(evt){ var real = window.getComputedStyle(win), winX = parseFloat(real.left), winY = parseFloat(real.top); var mX = evt.clientX, mY = evt.clientY; document.body.addEventListener('mousemove',drag,false); document.body.addEventListener('mouseup',function(){ document.body.removeEventListener('mousemove',drag,false); },false); function drag(evt){ win.style.left = winX + evt.clientX-mX + 'px'; win.style.top  = winY + evt.clientY-mY + 'px'; }; },false); });

